<template>
	<v-container>
		<v-card class="mx-auto rounded-lg" max-width="700" :class="{ setcustommargintop: !$device.isMobile }">
			<v-toolbar flat>
				<v-toolbar-title class="font-weight-bold">
					<nuxt-link style="text-decoration: none" to="/moshtaries">
						<v-icon color="black">mdi-chevron-right</v-icon>
					</nuxt-link>
					<span class="text-primary">{{ moshtari.page || 'در حال بارگزاری...' }}</span>
				</v-toolbar-title>
			</v-toolbar>

			<v-divider></v-divider>

			<v-card-text>
				<div v-if="!moshtari.name" class="text-center">
					<v-progress-circular indeterminate color="primary"></v-progress-circular>
				</div>

				<v-row v-else>
					<v-col cols="12" md="4">
						<span>نام مشتری</span>
						<div class="black--text subtitle-1" style="font-family: 'Vazir' !important">
							{{ moshtari.name }}
						</div>
					</v-col>
					<v-col cols="12" md="4">
						<span>شما موبایل</span>
						<div class="black--text subtitle-1" style="font-family: 'Vazir' !important">
							{{ moshtari.phone }}
						</div>
					</v-col>
					<v-col cols="12" md="4">
						<span>صفحه اینستاگرام</span>
						<a
							:href="'http://instagram.com/' + moshtari.page"
							class="primary--text subtitle-1"
							style="font-family: 'Vazir' !important; display: block"
						>
							<span>{{ moshtari.page }}</span>
							<v-icon color="primary" small>mdi-open-in-new</v-icon>
						</a>
					</v-col>
				</v-row>
			</v-card-text>
		</v-card>

		<v-card flat class="mx-auto rounded-lg mt-10" max-width="700">
			<h5>سفارش های این پیج</h5>
			<div>
				<!-- <v-card-subtitle class=""></v-card-subtitle> -->
				<div v-if="!moshtari.sefaresha" class="text-center">
					<v-progress-circular indeterminate color="primary"></v-progress-circular>
				</div>

				<v-list v-else two-line>
					<v-list-item-group class="rounded-lg" v-model="selected" active-class="primary--text">
						<template v-for="sefaresh in moshtari.sefaresha">
							<v-list-item :key="sefaresh.id" class="grey lighten-4 my-3 rounded-lg" @click="openSefareshPage(moshtari.page, sefaresh.uuid)">
								<v-list-item-avatar color="primary" size="47">
									<span class="white--text text-h6"
										>{{ sefaresh.sefaresh_owner_name[0] }}{{ sefaresh.sefaresh_owner_name[sefaresh.sefaresh_owner_name.length - 1] }}</span
									>
								</v-list-item-avatar>

								<v-list-item-content>
									<v-list-item-title>{{ sefaresh.sefaresh_owner_name }}</v-list-item-title>

									<v-list-item-subtitle>
										<span><b>شماره موبایل: </b>{{ moshtari.phone }}</span>
									</v-list-item-subtitle>
								</v-list-item-content>

								<v-list-item-action>
									<!-- <v-list-item-action-text v-text="sefaresh.phone"></v-list-item-action-text> -->
								</v-list-item-action>
							</v-list-item>
						</template>
					</v-list-item-group>
				</v-list>
			</div>
		</v-card>
	</v-container>
</template>

<script>
export default {
	layout: 'panelLayout',
	middleware: ['authentication'],
	data() {
		return {
			selected: null,
			moshtari: {},
		}
	},
	mounted() {
		this.$axios.get(`panel/moshtari/${this.$route.params.page}`).then((response) => {
			this.moshtari = response.data.moshtari
		})
	},
	methods: {
		openSefareshPage(page, uuid) {
			this.$router.push({ path: `/moshtari/${page}/sefaresh/${uuid}/` })
		},
	},
}
</script>

<style></style>
