<template>
	<v-container>
		<v-card class="mx-auto rounded-lg" max-width="700" :class="{ setcustommargintop: !$device.isMobile }">
			<v-toolbar flat>
				<v-toolbar-title class="font-weight-bold">
					<nuxt-link style="text-decoration: none" to="/moshtaries">
						<v-icon color="black">mdi-chevron-right</v-icon>
					</nuxt-link>
					<span class="text-primary">اضافه کردن مشتری جدید</span>
				</v-toolbar-title>
			</v-toolbar>

			<v-divider></v-divider>

			<v-card-text>
				<v-row no-wrap>
					<v-col cols="12" md="4">
						<v-text-field required clearable filled v-model="name" name="name" label="نام مشتری" type="text"></v-text-field>
					</v-col>
					<v-col cols="12" md="4">
						<v-text-field required clearable filled v-model="phone" name="phone" label="شماره تماس" type="text"></v-text-field>
					</v-col>
					<v-col cols="12" md="4">
						<v-text-field required clearable filled v-model="page" name="page" label="آیدی پیج اینستاگرام" type="text"></v-text-field>
					</v-col>
				</v-row>
			</v-card-text>
			<v-card-actions class="pt-0">
				<v-spacer></v-spacer>
				<v-btn
					:disabled="!name || !phone || !page"
					:loading="loading"
					text
					:large="$device.isMobile"
					:block="$device.isMobile"
					class="primary--text"
					@click="createNewMoshtari"
					>ثبت مشتری جدید</v-btn
				>
			</v-card-actions>

			<v-snackbar v-model="snackbar">
				{{ requestResponseMessage }}

				<template #action="{ attrs }">
					<v-btn color="primary" text v-bind="attrs" @click="snackbar = false"> بستن </v-btn>
				</template>
			</v-snackbar>
		</v-card>
	</v-container>
</template>

<script>
export default {
	layout: 'panelLayout',
	middleware: ['authentication'],
	data() {
		return {
			name: null,
			phone: null,
			page: null,
			loading: false,
			requestResponseMessage: null,
			snackbar: false,
		}
	},
	methods: {
		async createNewMoshtari() {
			if (this.name && this.phone && this.page) {
				this.loading = true
				await this.$axios
					.$post('panel/create-moshtari', {
						name: this.name,
						phone: this.phone,
						page: this.page,
					})
					.then((response) => {
						this.requestResponseMessage = response.message
						this.snackbar = true
						this.loading = false

						this.name = null
						this.phone = null
						this.page = null
					})
			}
		},
	},
}
</script>

<style></style>
