<template>
	<v-container>
		<v-card class="mx-auto rounded-lg" max-width="700" :class="{ setcustommargintop: !$device.isMobile }">
			<v-toolbar flat>
				<v-toolbar-title class="font-weight-bold">
					<nuxt-link style="text-decoration: none" :to="`/moshtari/${sefaresh.moshtari_page}`">
						<v-icon color="black">mdi-chevron-right</v-icon>
					</nuxt-link>
					<span class="text-primary">{{ sefaresh.sefaresh_owner_name || 'در حال بارگزاری...' }}</span>
				</v-toolbar-title>
			</v-toolbar>

			<v-divider></v-divider>

			<v-card-text>
				<div v-if="!sefaresh.sefaresh_owner_name" class="text-center">
					<v-progress-circular indeterminate color="primary"></v-progress-circular>
				</div>

				<v-row v-else>
					<v-col cols="12" md="4">
						<span>نام مشتری</span>
						<div class="black--text subtitle-1" style="font-family: 'Vazir' !important">
							{{ sefaresh.sefaresh_owner_name }}
						</div>
					</v-col>
					<v-col cols="12" md="4">
						<span>شما موبایل</span>
						<div class="black--text subtitle-1" style="font-family: 'Vazir' !important">
							{{ sefaresh.phone }}
						</div>
					</v-col>
					<v-col cols="12" md="4">
						<span>نوع فایل</span>
						<div class="black--text subtitle-1" style="font-family: 'Vazir' !important">
							{{ sefaresh.option }}
						</div>
					</v-col>
					<v-col cols="12" md="4">
						<span>فایل آپلود شده</span>
						<v-btn block large link target="_blank" :href="sefaresh.uploaded_file" color="primary">دانلود</v-btn>
					</v-col>
					<v-col cols="12" md="4">
						<span>بارکد اختصاصی</span>
						<!-- 'http://api.qrserver.com/v1/create-qr-code/?data=HelloWorld!&size=100x100' -->
						<v-btn
							link
							:href="`http://api.qrserver.com/v1/create-qr-code/?data=https://manalaserart.ir/client/${sefaresh.uuid}&size=300x300`"
							download="proposed_file_name"
							block
							target="_blank"
							large
							color="primary"
							>دانلود کد QR</v-btn
						>
					</v-col>
				</v-row>
			</v-card-text>
		</v-card>
	</v-container>
</template>

<script>
export default {
	layout: 'panelLayout',
	middleware: ['authentication'],
	async asyncData({ $axios, route }) {
		const res = await $axios.$get(`panel/sefaresh/${route.params.uuid}`)
		console.log(res)
		return { sefaresh: res.sefaresh }
	},
}
</script>

<style></style>
