<template>
	<div class="centered">
		<v-card class="rounded-lg" elevation="10">
			<v-img v-if="media" max-width="650" class="rounded-lg" :src="media" onContextMenu="return false;"></v-img>
		</v-card>
	</div>
</template>

<script>
export default {
	layout: 'clientLayout',
	data() {
		return {
			media: null,
		}
	},
	mounted() {
		this.$axios.$get(`client/${this.$route.params.uuid}`).then((response) => {
			this.media = response.media
		})
	},
}
</script>

<style>
.centered {
	display: flex;
	height: 100vh;
	margin: auto;
	justify-content: center;
	align-items: center;
}
</style>
