<template>
	<v-app>
		<v-main>
			<v-container fluid fill-height>
				<v-layout align-center justify-center>
					<Nuxt />
				</v-layout>
			</v-container>
		</v-main>
	</v-app>
</template>

<script>
export default {
	data() {
		return {}
	},
}
</script>

<style></style>
