<template>
	<v-app>
		<v-main>
			<v-card flat class="rounded-0">
				<v-toolbar color="primary" dark :extended="!$device.isMobile" flat>
					<v-app-bar-nav-icon bar-nav-icon @click="rightDrawer = true"></v-app-bar-nav-icon>
				</v-toolbar>
				<Nuxt />
			</v-card>
		</v-main>

		<v-navigation-drawer v-model="rightDrawer" app class="custom-font" :right="right">
			<v-list-item>
				<v-list-item-avatar>
					<v-img src="https://randomuser.me/api/portraits/men/78.jpg"></v-img>
				</v-list-item-avatar>

				<v-list-item-content>
					<v-list-item-title>{{ title }}</v-list-item-title>
				</v-list-item-content>
			</v-list-item>

			<v-divider></v-divider>

			<v-list nav>
				<v-list-item-group color="primary">
					<v-list-item v-for="item in items" :key="item.title" link :to="item.to">
						<v-list-item-icon>
							<v-icon>{{ item.icon }}</v-icon>
						</v-list-item-icon>

						<v-list-item-content>
							<v-list-item-title class="font-weight-medium">{{ item.title }}</v-list-item-title>
						</v-list-item-content>
					</v-list-item>
				</v-list-item-group>
			</v-list>
		</v-navigation-drawer>
	</v-app>
</template>

<script>
export default {
	data() {
		return {
			clipped: true,
			drawer: false,
			fixed: true,
			items: [
				{
					icon: 'mdi-plus',
					title: 'ثبت سفارش جدید',
					to: '/new-order',
				},
				{
					icon: 'mdi-magnify',
					title: 'جستجوی سفارش ها',
					to: '/search',
				},
				{
					icon: 'mdi-account',
					title: 'لیست مشتری ها',
					to: '/moshtaries',
				},
				{
					icon: 'mdi-cog',
					title: 'تنظیمات',
					to: '/settings',
				},
			],
			right: true,
			rightDrawer: true,
			title: 'پنل مدیریت مانا لیزر آرت',
		}
	},
	created() {
		if (this.$device.isMobile) return (this.rightDrawer = false)
	},
}
</script>

<style>
.custom-fonts a,
div {
	font-family: 'vazir' !important;
}
</style>
