<template>
	<v-row justify="center" align="center">
		<v-col cols="12" class="text-center">
			<h1>Nothing</h1>
		</v-col>
		<v-divider></v-divider>
		<v-col cols="12" class="text-center">
			<nuxt-link to="/moshtaries">پنل مدیریت مانا لیزر آرت</nuxt-link>
		</v-col>
	</v-row>
</template>
