<template>
	<v-card class="elevation-12 rounded-lg">
		<v-toolbar dark color="primary">
			<v-toolbar-title>ورود به پنل مانا لیزر آرت</v-toolbar-title>
		</v-toolbar>
		<v-card-text>
			<v-form>
				<v-text-field v-model="email" prepend-icon="person" name="login" label="ایمیل" type="text"></v-text-field>
				<v-text-field v-model="password" id="password" prepend-icon="lock" name="password" label="پسورد" type="password"></v-text-field>
			</v-form>
		</v-card-text>
		<v-card-actions>
			<v-btn @click="login" :loading="loading" block large color="primary">ورود</v-btn>
			<v-spacer></v-spacer>
		</v-card-actions>
	</v-card>
</template>

<script>
export default {
	layout: 'loginLayout',
	middleware: ['guest'],
	data() {
		return {
			email: null,
			password: null,
			loading: false,
		}
	},
	methods: {
		async login() {
			this.loading = true
			await this.$auth
				.loginWith('local', {
					data: {
						email: this.email,
						password: this.password,
					},
				})
				.then((response) => {
					this.loading = false
					this.$router.push({ path: '/moshtaries' })
				})

			// this.$router.push({ path: '/moshtaries' })
		},
	},
}
</script>

<style></style>
