<template>
	<v-container>
		<v-card class="mx-auto rounded-lg" max-width="700" :class="{ setcustommargintop: !$device.isMobile }">
			<v-toolbar flat>
				<v-toolbar-title class="font-weight-bold">
					<span class="text-primary">لیست مشتری ها</span>
				</v-toolbar-title>

				<v-spacer></v-spacer>

				<v-btn rounded large to="/moshtari/add" color="primary">
					<span>مشتری جدید</span>
					<v-icon dense class="mr-1">mdi-account-plus</v-icon>
				</v-btn>
			</v-toolbar>

			<v-divider></v-divider>

			<v-card-text>
				<div v-if="!moshtaries" class="text-center">
					<v-progress-circular indeterminate color="primary"></v-progress-circular>
				</div>

				<v-list v-else two-line>
					<v-list-item-group class="rounded-lg" v-model="selected" active-class="primary--text">
						<template v-for="moshtari in moshtaries">
							<v-list-item class="grey lighten-4 my-3 rounded-lg" :key="moshtari.id" @click="openMoshtariPage(moshtari.page)">
								<v-list-item-avatar color="primary" size="47">
									<span class="white--text text-h6">{{ moshtari.name[0] }}{{ moshtari.name[moshtari.name.length - 1] }}</span>
								</v-list-item-avatar>

								<v-list-item-content>
									<v-list-item-title>{{ moshtari.name }}</v-list-item-title>

									<v-list-item-subtitle>
										<a :href="'http://instagram.com/' + moshtari.page">صفحه اینستاگرام</a> /
										<span><b>شماره موبایل: </b>{{ moshtari.phone }}</span>
									</v-list-item-subtitle>
								</v-list-item-content>
							</v-list-item>
						</template>
					</v-list-item-group>
				</v-list>
			</v-card-text>
		</v-card>
	</v-container>
</template>

<script>
export default {
	layout: 'panelLayout',
	middleware: ['authentication'],
	data() {
		return {
			moshtaries: [],
			selected: null,
		}
	},
	mounted() {
		this.$axios.$get('panel/moshtaries').then((response) => {
			this.moshtaries = response.moshtaries
		})
	},
	methods: {
		openMoshtariPage(page) {
			this.$router.push({ path: `/moshtari/${page}` })
		},
	},
}
</script>

<style>
.floating-button {
	bottom: 0;
	position: absolute;
}
.setcustommargintop {
	margin-top: -77px;
}
</style>
