<template>
	<v-container fluid>
		<v-card class="mx-auto rounded-lg" max-width="700" :class="{ setcustommargintop: !$device.isMobile }">
			<v-toolbar flat>
				<v-toolbar-title class="font-weight-bold">
					<nuxt-link style="text-decoration: none" to="/moshtaries">
						<v-icon color="black">mdi-chevron-right</v-icon>
					</nuxt-link>
					<span class="text-primary">اضافه کردن سفارش جدید</span>
				</v-toolbar-title>
			</v-toolbar>

			<v-divider></v-divider>

			<v-card-text>
				<v-row>
					<v-col cols="12">
						<v-row>
							<v-col cols="12" md="6">
								<v-text-field
									v-model="sefaresh_owner_name"
									name="cosumer-name"
									hide-details="auto"
									filled
									label="نام مشتری 👨‍💼"
									type="text"
								></v-text-field>
							</v-col>
							<v-col cols="12" md="6">
								<v-text-field
									v-model="phone"
									name="cosumer-phone"
									hide-details="auto"
									filled
									label="شماره تماس مشتری 📞"
									type="text"
								></v-text-field>
							</v-col>
							<v-col cols="12" md="6">
								<v-row>
									<v-col cols="12">
										<v-select
											v-model="moshtari_page"
											filled
											hide-details="auto"
											:items="pages"
											:rules="[(v) => !!v || 'پیج سفارش دهنده را انتخاب کنید']"
											label="پیج سفارش دهنده را انتخاب کنید"
											required
										></v-select>
									</v-col>
									<v-col cols="12">
										<v-select
											v-model="selectedOption"
											filled
											hide-details="auto"
											:items="options"
											:rules="[(v) => !!v || 'نوع محتوا را انتخاب کنید']"
											label="نوع محتوا"
											required
										></v-select>
									</v-col>
									<v-col cols="12">
										<v-file-input
											v-model="selectedFile"
											:disabled="!selectedOption"
											filled
											refs="uploadedFile"
											hide-details="auto"
											label="محتوای مورد نظر را انتخاب کنید 🎈"
											@change="fileInputChangeAction"
										></v-file-input>
									</v-col>
								</v-row>
							</v-col>
							<v-col cols="12" md="6">
								<v-textarea v-model="description" rows="4" label="توضیحات اضافه 📝" filled></v-textarea>
							</v-col>
						</v-row>
					</v-col>
					<v-col v-if="previewImage" cols="12">
						<v-img :src="previewImage" aspect-ratio="1" class="gray lighten-5 rounded-lg elevation-8">
							<template #placeholder>
								<v-row class="fill-height ma-0" align="center" justify="center">
									<span>هنوز فایلی انتخاب نکرده اید 🤷‍♂️</span>
								</v-row>
							</template>
						</v-img>
					</v-col>
					<!-- <v-col cols="12">
						<audio id="audioPlayer" controls ref="audio" preload="auto" :src="previewAudio">
							<p>Your browser does not support the <code>audio</code> element.</p>
						</audio>
					</v-col> -->
				</v-row>
			</v-card-text>
			<v-divider></v-divider>
			<v-card-actions>
				<v-spacer></v-spacer>
				<v-btn dark class="px-4" :loading="loading" :block="$device.isMobile" color="primary" large @click="createNewSefaresh"> ثبت سفارش </v-btn>
			</v-card-actions>

			<v-snackbar v-model="snackbar">
				{{ requestResponseMessage }}

				<template #action="{ attrs }">
					<v-btn color="primary" text v-bind="attrs" @click="snackbar = false"> بستن </v-btn>
				</template>
			</v-snackbar>
		</v-card>
	</v-container>
</template>

<script>
export default {
	layout: 'panelLayout',
	data() {
		return {
			loading: false,
			snackbar: false,
			requestResponseMessage: null,
			selectedFile: null,
			previewImage: null,
			previewAudio: null,
			selectedOption: null,
			options: ['عکس', 'ویدیو', 'فایل صوتی'],
			sefaresh_owner_name: null,
			phone: null,
			description: null,
			option: null,
			moshtari_page: null,
			pages: [],
		}
	},
	mounted() {
		this.getListOfPages()
	},
	methods: {
		async getListOfPages() {
			await this.$axios.$get('panel/moshtaries/pages').then((response) => {
				const pages = []
				response.pages.forEach((page) => pages.push(page.page))
				this.pages = pages
			})
		},
		fileInputChangeAction() {
			// if (this.selectedOption === 'فایل صوتی') {
			// 	const audio = this.selectedFile
			// 	console.log(audio)
			// 	if (audio) {
			// 		this.previewAudio = audio.name
			// 	}
			// }
			if (this.selectedOption === 'عکس') {
				const image = this.selectedFile
				if (image) {
					const reader = new FileReader()
					reader.readAsDataURL(image)
					reader.onload = (e) => {
						this.previewImage = e.target.result
					}
				}
			}
		},
		async createNewSefaresh() {
			this.loading = true
			const formData = new FormData()

			formData.append('uploaded_file', this.selectedFile)
			formData.set('sefaresh_owner_name', this.sefaresh_owner_name)
			formData.set('moshtari_page', this.moshtari_page)
			formData.set('phone', this.phone)
			formData.set('description', this.description)
			formData.set('option', this.selectedOption)

			await this.$axios
				.$post('panel/create-sefaresh', formData, {
					headers: {
						'Content-Type': 'multipart/form-data',
					},
				})
				.then((response) => {
					this.requestResponseMessage = response.message
					this.snackbar = true
					this.loading = false
				})
		},
	},
}
</script>

<style></style>
