<template>
	<v-container>
		<v-card class="mx-auto rounded-lg" max-width="700" :class="{ setcustommargintop: !$device.isMobile }">
			<v-toolbar flat>
				<v-toolbar-title class="font-weight-bold">
					<span class="text-primary">جستجوی سفارش ها</span>
				</v-toolbar-title>
			</v-toolbar>

			<v-divider></v-divider>

			<v-card-text>
				<v-text-field
					clearable
					outlined
					v-model="search_content"
					name="search"
					label="نام سفارش دهنده مورد نظر را وارد کنید"
					type="text"
					@keyup.enter="findSearchResult"
				></v-text-field>

				<h5 v-if="sefaresh">نتایج جستجو</h5>
				<h5 v-if="message">{{ message }}</h5>

				<!-- <div v-if="sefaresha" class="text-center">
					<v-progress-circular indeterminate color="primary"></v-progress-circular>
				</div> -->

				<v-list v-if="sefaresh" two-line>
					<v-list-item class="grey lighten-4 my-3 rounded-lg" @click="openSefareshPage(sefaresh.moshtari_page, sefaresh.uuid)">
						<v-list-item-avatar color="primary" size="47">
							<span class="white--text text-h6"
								>{{ sefaresh.sefaresh_owner_name[0] }}{{ sefaresh.sefaresh_owner_name[sefaresh.sefaresh_owner_name.length - 1] }}</span
							>
						</v-list-item-avatar>

						<v-list-item-content>
							<v-list-item-title>{{ sefaresh.sefaresh_owner_name }}</v-list-item-title>

							<v-list-item-subtitle>
								<span><b>شماره موبایل: </b>{{ sefaresh.phone }}</span>
							</v-list-item-subtitle>
						</v-list-item-content>

						<v-list-item-action>
							<!-- <v-list-item-action-text v-text="sefaresh.phone"></v-list-item-action-text> -->
						</v-list-item-action>
					</v-list-item>
					<!-- <v-list-item-group class="rounded-lg" v-model="selected" active-class="primary--text">
						<template v-for="sefaresh in sefaresha">
							
						</template>
					</v-list-item-group> -->
				</v-list>
			</v-card-text>
		</v-card>
	</v-container>
</template>

<script>
export default {
	layout: 'panelLayout',
	middleware: ['authentication'],
	data() {
		return {
			search_content: null,
			sefaresh: null,
			message: null,
		}
	},
	methods: {
		async findSearchResult() {
			await this.$axios.get(`panel/search/${this.search_content}`).then((response) => {
				if (response.data.result) {
					this.search_content = null
					this.sefaresh = response.data.result
					this.message = null
				} else {
					this.search_content = null
					this.sefaresh = null
					this.message = response.data.message
				}
			})
		},
		openSefareshPage(page, uuid) {
			this.$router.push({ path: `/moshtari/${page}/sefaresh/${uuid}/` })
		},
	},
}
</script>

<style>
.setcustommargintop {
	margin-top: -77px;
}
</style>
